@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: Varela;
  src: url("../Fonts/VarelaRound-Regular.ttf");
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #353B48;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
}
.navbar{
	background-color: #4A505D;
}

.yellow{
	color: #D7C13F;
}

.logo{
	font-family: 'Varela';
	display: inline-block;
	font-size: 37px;
	line-height: inherit;
	white-space: nowrap;
	margin-left: 38px;
}
.logo:hover{
	cursor: pointer;
}
.form-control{
	background-color: #585D68;
	border: none;
	border-radius: 10px;
	color: #FFFFFF;
}
.form-control:focus{
	background-color: #585D68;
	color: #FFFFFF;
	box-shadow: none;
}

.Title{
	font-family: Verdana;
	font-weight: bold;
	font-size: 5vh;
	position: absolute;
	color: #FFF;
	left: 23vh; 
	top: 25vh;
}
.Title em{
	color: #D7C13F;
	font-style: normal;
}

.span-col-6{grid-column: span 6 / auto;background:#5B5F66;}

.span-col-2{grid-column: span 2 / auto;background: #5B5F66;}

.span-row-11{grid-row: span 11 / auto;background: #5B5F66;}

.span-row-12{grid-row: span 12 / auto;background: #5B5F66;}

.span-row-3{grid-row: span 3 / auto;}

.span-row-9{grid-row: span 9 / auto;}

.accList{
	width: 18vw;
	height: 85vh;
	position: fixed;
	background-color: #585D68;
	margin-top: 2vh;
	margin-left: 2vh;
	text-align: center;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.titleAccList{
	font-family: Varela;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hl{
	width: 70px;
	height: 3px;
	border-radius: 100%;
	background-color: #353B48;
}

.noAccItem{
	margin-top: 250px;
	opacity: 0.3;
}

.profile{
	width: 18vw;
	height: 10vh;
	position: fixed;
	background-color: #585D68;
	margin-top: 88vh;
	margin-left: 2vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 15px;
	overflow: hidden;
	z-index: 2;
}

.profileImg{
	border-radius: 100px;
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

.profileStats{
	margin-left: 30px;
	width: 200px;
	height: 50%;
}

.profileName{
	margin-bottom: 0;
	color: #ecf0f1;
	white-space: nowrap;
}

.profileBalance{
	color:#d7c13f;
}

.bodyContainer{
	width: 84%;
	height: auto;
	position: absolute;
	margin-left: 16vw;
	text-align: center;
	padding:3vh 3vh 0 3vh;
}

.accList{
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.accItemContainer{
	width: 100%;
	height: 80%;
	overflow: auto;
	display: grid;
	grid-gap: 10px;
}

.accItem{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 15px;
	text-align: left;
}

.accItem:hover{
	background-color:rgba(76,82,93,0.44);
	cursor: pointer;
}

.accItemContainer::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}
 
.accItemContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.accItemContainer::-webkit-scrollbar-thumb {
  	background-color: #D7C13F;
  	outline: 1px solid slategrey;
  	border-radius: 100px;
}

input:focus{
	outline:none;
	box-shadow: 0 0 3px #D7C13F;
}
body::-webkit-scrollbar {
    width: 10px;
    
}

body::-webkit-scrollbar:hover{
	width: 10px;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  	background-color: #D7C13F;
  	outline: 1px solid slategrey;
  	border-radius: 100px;
}
