.merchantInfo{
	width: 92%;
	height: 60px;
	background-color: #585D68;
	margin-left: 1vw;
	border-radius: 15px;
	box-shadow:
	  0 26.2px 31.5px -27px rgba(0, 0, 0, 0.1),
	  0 50.8px 58.3px -27px rgba(0, 0, 0, 0.065),
	  0 75.9px 81.7px -27px rgba(0, 0, 0, 0.051),
	  0 111.9px 109.9px -27px rgba(0, 0, 0, 0.039),
	  0 256px 223px -27px rgba(0, 0, 0, 0.024)
	;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filterSearchContainer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
	margin-left: 3vw;
}

.merchantWrapper{
	display:flex;
	align-items: center;
}
.merchantImg{
	border-radius: 100%;
	margin-left: 20px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	position: relative;
}

.merchantName{
	margin-left: 20px;
	color: #ecf0f1;
	margin-bottom: 0;
}
.merchantFollow{
	border: none;
	background-color: transparent;
	margin-left: 150px;
}
.merchantFollow:hover #Icon_awesome-heart{
	fill:#E92E55;
}
.merchantChat:hover #Icon_open-chat{
	fill: #D7C13F;
}
.merchantRate:hover #Icon_material-rate-review{
	fill: #D7C13F;
}
.rating{
	box-sizing: border-box;
	margin-left: 20px;
}