.tourneys{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13vw, 1fr));
    grid-template-rows: repeat(1, 30vh);
    margin-top: 3vh;
    grid-row-gap: 4vh;
    margin-left: 1.5vw;
}