@font-face {
    font-family: Varela;
    src: url("../Fonts/VarelaRound-Regular.ttf");
}

.Balok{
    background-color: #414753;
    width: 100%;
    height: 115px;
}
.CompName{
    font-family: 'Varela';
    color: #D7C13F;
    margin-left: 78px;
}